/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
body {
    .air-datepicker-global-container {
        font-size: 14px;
        .air-datepicker-nav--action path {
            stroke: var(--clr-att);
            stroke-width: 0.8px;
            font-size: 1em;
        }
        .air-datepicker-nav--action svg {
            transform: scale(2.8);
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -20px 0 0 -16px;
            font-size: 1em;
        }
        .air-datepicker {
            width: (597/20em);
            background: #FFFAF9;
            border: 1px solid #8A675F;
            box-shadow: 0px 35.42637634277344px 35.42637634277344px rgba(161, 95, 47, 0.05);
            border-radius: 30px;
            padding: 2em 2em 2em 2em;
            font-size: 1em;
        }
        .air-datepicker--navigation {
            border-bottom: 1px solid fade(#EFE5E4, 40);
            padding: 0;
            font-size: 1em;
            .air-datepicker-nav {
                padding: 0 0 5px 0;
            }
            .air-datepicker-nav--action {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                position: relative;
                &:hover {
                    background: none;
                }
                &~.air-datepicker-nav--action {
                    
                }
            }
            .air-datepicker-nav--title {
                font-size: 2em;
                font-weight: 300;
                line-height: (42/37);
                letter-spacing: -0.751px;
                color: var(--clr-att);
                &:hover {
                    background: none;
                }
                i, span {
                    color: inherit;
                    font-style: normal;
                    font-size: inherit;
                }
            }
        }
        .air-datepicker--pointer {
            display: none;
        }
        .air-datepicker--content {
            padding: 35px 0 0 0;
            font-size: 1.2em;
            line-height: 1.2;
            color: #545454;
            .air-datepicker-body--day-name {
                font-size: 1em;
                line-height: 1.2;
                font-style: italic;
                color: #B1A19D;
                text-transform: none;
                padding-bottom: 1.4em;
            }
            .air-datepicker-body--cells.-days- {
                grid-auto-rows: 3.2em;
            }
            .air-datepicker-body {
                 .air-datepicker-cell {
                     position: relative;
                     z-index: 3;
                     color: inherit;
                     height: 2.3em;
                     margin: 0;
                     &.-focus- {
                         background: none;
                     }
                     &.-other-month- {
                         color: inherit;
                         opacity: 0.5;
                     }
                     &.-current- {
                         color: var(--clr-att);
                         &:before {
                             display: block;
                         }
                     }
                     &.-selected- {
                         background: none;
                         color: #fff;
                         &:before {
                             display: block;
                             background: var(--clr-att);
                         }
                     }
                     &:before {
                         content: "";
                         display: none;
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         width: 2.3em;
                         height: 2.3em;
                         border-radius: 50%;
                         border: 1px solid #8A675F;
                         background: #FCF3F0;
                         z-index: -1;
                         margin: -1.15em -0px 0 -1.15em;
                     }
                 }
            }
        }
    }
}
.frm-info-panel {
    display: block;
    background: #FAEDEA;
    padding: 16px 16px 16px 10px;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: var(--clr-base);
    &:before {
        content: "";
        display: block;
        border: 13px solid fade(#000,0);
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -13px;
        margin-top: -2px;
        border-top-color: #FAEDEA;
    }
    ol {
        counter-reset: li; 
        list-style: none;
        li {
        	position: relative;
            padding: 0;
            margin: 0;
        	&:before {
        		content: counter(li) '.'; 
    			counter-increment: li; 
                border-radius: 0;
                background-color: transparent;
                margin: 0;
                position: relative;
                display: inline;
                height: auto;
                min-width: 24px;
                padding: 0 8px 0 0;
                color: inherit;
                font-size: inherit;
        	}
        }
    }
}
.frm-field-date {
    position: relative;
    display: block;
    width: 100%;
    .form-input.form-input-button {
        padding-left: 40px;
        padding-right: 30px;
        background-image: url(../img/icons/calendar.svg);
        background-position: 14px center;
        background-size: 14px auto;
        background-repeat: no-repeat;
        cursor: pointer;
        &[type="date"]::-webkit-inner-spin-button {
            display: none;
        }
        &[type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }
    &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        background: url(../img/icons/arrow-select.svg) center no-repeat;
        background-size: 12px auto;
        top: 50%;
        right: 10px;
        margin-top: -15px;
        z-index: 2;
        pointer-events: none;
    }
}
.frm-select-wrap {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.14px;
    .select-overlay {
        display: none;
        position: fixed;
        z-index: 101;
        background: rgba(250,250,252,.5);
        backdrop-filter: blur(10px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &.select-small {
        .select-content-block {
            max-height: 240px;
            padding: 30px 0 0 0;
            border-radius: 11px 11px 6px 6px;
            .menu {
                padding: 0 5px 5px 5px;
            }
        }
        .menu-chk li {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .menu-chk-photo li {
            margin-bottom: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .btn-popup-toggle {
            height: 22px;
            border-radius: 11px;
            padding: 0 20px 0 20px;
            font-size: 11px;
            letter-spacing: -0.11px;
            justify-content: flex-start;
            &.active {
                &:before {
                    margin-top: -3px;
                }
            }
            .button-ico {
                width: 12px;
                height: 12px;
                margin: -7px 0 0 0;
                position: absolute;
                top: 50%;
                left: 8px;
            }
            &:before {
                width: 10px;
                height: 10px;
                right: 8px;
                margin: -8px 0 0 0;
            }
        }
    }
    &.select-full {
        .btn-popup-toggle {
            transition: background ease 0.2s;
            &.active {
                background-color: #fafafc;
                box-shadow: none;
                border-color: #fafafc;
            }
        }
        .select-content-block {
            top: -10px;
            left: -10px;
            right: -10px;
        }
    }
    .select-content-block {
        overflow: hidden;
        display: none;
        background: #FAFAFC;
        border: 1px solid var(--clr-att);
        box-shadow: 0px 15px 20px rgba(171, 84, 56, 0.05);
        border-radius: 23px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 103;
        padding: 65px 0 0 0;
    }
    .menu {
        padding: 0 15px 15px 15px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .menu-select-wrap {
        display: block;
        padding: 0 15px 15px 15px;
    }
    .menu-select {
        .menu {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
        }
        li {
            padding: 0 5px;
            margin-bottom: 5px;
            width: 50%;
            max-width: 180px;
        }
    }
    .menu-list {
        .menu {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -32px 0 0;
        }
        li {
            flex-shrink: 0;
            margin: 0 22px 0 0;
        }
    }
    .menu-chk {
        .menu {
        }
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-menu-sort {
        color: var(--clr-base);
        font-style: italic;
        display: inline-block;
        position: relative;
        padding: 10px 10px 10px 24px;
        &:hover {
            text-decoration: underline;
            color: var(--clr-att);
            &:before {
                filter: none;
            }
        }
        &.active {
            &:before {
                background-image: url(../img/icons/sort-down.svg);
            }
        }
        &.active-up {
            &:before {
                background-image: url(../img/icons/sort-down.svg);
                .t-rotate(180deg);
                margin-top: -10px;
            }
        }
        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            background: url(../img/icons/sort.svg) center no-repeat;
            background-size: 100% auto;
            top: 50%;
            left: 0;
            margin-top: -14px;
            filter: grayscale(100%) opacity(0.8);
        }
    }
    .btn-popup-toggle {
        height: 45px;
        border-radius: 23px;
        padding: 0 40px 0 30px;
        font-size: 14px;
        line-height: 18px;
        color: var(--clr-att);
        letter-spacing: -0.14px;
        width: 100%;
        justify-content: flex-start;
        font-style: italic;
        &:not(:hover) {
            color: var(--clr-att);
            background-color: #FAFAFC;
        }
        &.active, &:hover {
            color: var(--clr-att);
            background-color: #FAFAFC;
            z-index: 104;
            &:before, .button-ico {
                filter: none !important;
            }
        }
        &.active {
            box-shadow: var(--shadow-middle);
        }
        &:hover {
            background-color: #FFFAF9;
        }
        .button-ico {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 8px;
            margin-top: -13px;
        }
    }
    .btn {
        .button-title {
            max-width: 100%;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .btn-menu {
        display: block;
        padding: 5px 0;
    }
}
.frm-error {
    font-size: 14px;
    line-height: 18px;
    color: #FFFAF9;
    letter-spacing: -0.145px;
    display: block;
    padding: 13px 13px 13px 16px;
    border-radius: 14px;
    background: #C35C74;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 100%;
    transform: translateY(-50%);
    z-index: 20;
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 6px solid fade(#000, 0);
        border-right-color: #C35C74;
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -6px;
    }
}
.frm-content {
    display: none;
    &.active {
        display: block;
    }
}
.frm-field-input {
    display: block;
    position: relative;
    line-height: 1;
    &.field-size {
        padding-left: 22px;
        .form-input {
            padding-left: 0;
        }
        .field-input-content {
            &:before {
                display: none;
            }
        }
        &:before {
            display: block;
        }
        &:after {
            display: block;
        }
    }
    &:before {
        content: "";
        width: 21px;
        height: 22px;
        position: absolute;
        left: 1px;
        bottom: -2px;
        background: url(../img/icons/size01.svg) right bottom no-repeat;
        background-size: 100% auto;
        display: none;
    }
    &:after {
        content: "";
        width: 2px;
        height: 8px;
        background: var(--clr-att);
        position: absolute;
        bottom: -3px;
        left: 20px;
        display: none;
    }
    &.field-45 {
        &:before {
            background-image: url(../img/icons/size02.svg);
            bottom: -3px;
        }
        .field-input-content {
            &:before {
                display: none;
            }
        }
    }
    &.field-90 {
        &:before {
            background-image: url(../img/icons/size03.svg);
            bottom: -3px;
        }
        .field-input-content {
            &:before {
                display: none;
            }
        }
    }
    &.inp-clear {
        .field-input-content {
            &:before, &:after {
                display: none;
            }
        }
        .form-input {
            padding-left: 0;
        }
    }
    &:hover {
        .form-input {
            //border-bottom-color: #433D3C;
            &[placeholder]::-webkit-input-placeholder {color: fade(#8A675F, 30);}
            &[placeholder]:-moz-placeholder {color: fade(#8A675F, 30);}
            &[placeholder]::-moz-placeholder {color: fade(#8A675F, 30);}
            &[placeholder]:-ms-input-placeholder {color: fade(#8A675F, 30);}
        }
        .field-input-content {
            &:before, &:after {
                //filter: brightness(0) grayscale(1);
            }
        }
    }
    .form-input {
        height: 3.8rem;
        padding: 0 3rem 0 22px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
        color: var(--clr-att);
        font-size: 2.4rem;
        font-style: italic;
        z-index: 3;
        position: relative;
        transition: all ease 0.2s;
        &[placeholder]::-webkit-input-placeholder {color: var(--clr-att);}
        &[placeholder]:-moz-placeholder {color: var(--clr-att);}
        &[placeholder]::-moz-placeholder {color: var(--clr-att);}
        &[placeholder]:-ms-input-placeholder {color: var(--clr-att);}
        &:focus {
            &[placeholder]::-webkit-input-placeholder {color: fade(#8A675F, 30);}
            &[placeholder]:-moz-placeholder {color: fade(#8A675F, 30);}
            &[placeholder]::-moz-placeholder {color: fade(#8A675F, 30);}
            &[placeholder]:-ms-input-placeholder {color: fade(#8A675F, 30);}
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number]{
        -moz-appearance: textfield;
    }
    .field-input-content {
        display: block;
        position: static;
        border-bottom: 2px solid var(--clr-att);
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            background: url(../img/icons/inp-right.svg) center no-repeat;
            background-size: 100% auto;
            transition: all ease 0.2s;
            width: 22px;
            height: 8px;
            left: 0;
            right: 0;
            bottom: -3px;
            .t-rotate(180deg);
            z-index: 2;
        }
        &:after {
            left: auto;
            right: 0;
            .t-rotate(0deg);
        }
    }
}
.frm-field-upload {
    display: block;
    position: relative;
    overflow: hidden;
    &:hover {
        .btn {
            border-color: #433D3C;
            background-color: #FFFAF9;
            color: #433D3C;
        }
    }
    .btn {
        height: 70px;
        border-radius: 20px;
        border: 1px dotted var(--clr-att);
        background: #FFFAF9;
        padding: 0 15px;
        width: 100%;
        font-size: 14px;
        color: var(--clr-att);
        letter-spacing: -0.14px;
        .button-title {
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            overflow: hidden;
        }
    }
    input[type="file"] {
        position: absolute;
        top: 110%;
        left: 110%;
        opacity: 0;
        pointer-events: none;
        font-size: 0;
    }
}
.frm-field-counter {
    height: 24px;
    position: relative;
    padding: 0 18px;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 6px;
        right: 6px;
        height: 5px;
        border: 1px solid var(--clr-att);
        border-top: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number]{
        -moz-appearance: textfield;
    }
    .form-input {
        height: 24px;
        border: none;
        background: none;
        text-align: center;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: normal;
        padding: 0;
        color: var(--clr-att);
    }
    .field-counter-button {
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid var(--clr-att);
        position: absolute;
        padding: 0;
        min-width: 0;
        top: 50%;
        right: 0;
        margin-top: -7px;
        z-index: 2;
        cursor: pointer;
        &[data-type="minus"] {
            left: 0;
            right: auto;
            &:before {
                background-image: url(../img/icons/minus.svg);
            }
        }
        &:before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            background: url(../img/icons/plus.svg) center no-repeat;
            background-size: 16px auto;
            top: 0;
            left: 0;
        }
        &:hover {
            background-color: #433D3C;
            border-color: #433D3C;
            &:before {
                filter: brightness(0) invert(1);
            }
        }
    }
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
}
.frm-select, .frm-select-color, .frm-select-color-pic, .frm-select-price, .frm-select-toggle, .frm-select-check, .frm-select-toggle-two, .frm-select-photo, .frm-select-panel {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;

    &.select-disabled {
        pointer-events: none;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
        }
    }
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
        &[disabled] {
            &~label {
                pointer-events: none;
                color: #DCD1CF;
                &:before, &:after {
                    opacity: 0.3 !important;
                }
                .lbl-text {
                    opacity: 0.3 !important;
                }
            }
        }
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
	}
    .lbl-count {
        font-size: (17/19em);
        height: (31/17em);
        line-height: (31/17em);
        min-width: (31/17em);
        text-align: center;
        padding: 0 0.5em;
        border-radius: (16/17em);
        background: #F5E2D9;
        letter-spacing: -1.367px;
        font-style: normal;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        margin-top: -0.1em;
    }
}
.frm-select-color-pic {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    overflow: visible;
    &:hover {
        z-index: 16;
    }
    input:checked~label {
        z-index: 12;
        &:before {
            opacity: 1;
            top: -10px;
            bottom: -10px;
            left: -14px;
            right: -14px;
        }
        .elm-photo {
            z-index: 14;
            img {
                transform: scale(1.2)
            }
        }
        .lbl-title {
            display: none !important;
        }
    }
    label {
        position: relative;
        overflow: visible;
        height: 37px;
        padding: 3px;
        .elm-photo {
            height: 31px;
            aspect-ratio: inherit;
            overflow: visible;
            position: relative;
            z-index: 3;
        }
        &:hover {
            &:before {
                opacity: 1;
                top: -10px;
                bottom: -10px;
                left: -14px;
                right: -14px;
            }
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 10px;
            border: 1px solid var(--clr-att);
            opacity: 0;
            background: #fff;
            z-index: 2;
        }
    }
    .lbl-title {
        display: none;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 14px;
        line-height: 1;
        color: var(--clr-att);
        z-index: 12;
        font-style: italic;
        font-weight: 400;
    }
}
.frm-select-panel {
    overflow: visible;
    &:hover {
        label {
            border-color: var(--clr-att);
            background-color: #FFFAF9;
            &:before {
                border-color: #433D3C;
                background-color: #FFFAF9;
            }
            &:after {
                filter: brightness(0) grayscale(1);
            }
        }
    }
    input {
        &:checked {
            &~label {
                border-color: var(--clr-att);
                background-color: #FFFAF9;
                box-shadow: var(--shadow-middle);
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    label {
        display: block;
        overflow: hidden;
        position: relative;
        padding: 20px 20px 20px 60px;
        min-height: 120px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.14px;
        font-style: italic;
        color: var(--clr-base);
        border-radius: 30px;
        border: 1px solid #F6EFEE;
        transition: all ease 0.2s;
        &:hover {
        }
        &:before {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            top: 20px;
            left: 20px;
            border: 1px solid var(--clr-att);
            transition: all  ease 0.2s;
        }
        &:after {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 20px;
            left: 20px;
            background: url(../img/icons/check.svg) 0 0 no-repeat;
            background-size: 100% auto;
            opacity: 0;
            transition: all  ease 0.2s;
        }
    }
    .lbl-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        margin-bottom: 10px;
        font-style: normal;
    }
    .lbl-price {
        flex-shrink: 0;
        display: block;
    }
    .lbl-title {
        padding-right: 10px;
        flex: 1;
        display: block;
        color: var(--clr-att);
    }
}
.frm-select-photo {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.14px;
    overflow: visible;
    color: var(--clr-att);
    &:hover {
        label {
            .elm-photo {
                opacity: 0.6;
            }
            &:before {
                opacity: 1;
            }
        }
    }
    input {
        &:checked {
            &~label {
                &:before {
                    opacity: 1;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    label {
        display: block;
        height: 100%;
        position: relative;
        flex: 1;
        overflow: visible;
        padding: 10px;
        &:after {
            width: 30px;
            height: 30px;
            top: 10px;
            right: 10px;
            z-index: 2;
            background: url(../img/icons/check-full.svg) center no-repeat;
            background-size: 100% auto;
            opacity: 0;
        }
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid var(--clr-att);
            opacity: 0;
            z-index: 4;
            border-radius: 10px;
            box-shadow: 0px 15px 15px rgba(163, 108, 68, 0.04);
        }
    }
    .elm-ico {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #FFDE00;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
    }
    .elm-photo {
        aspect-ratio: 1;
        margin: 0 auto;
     //   max-width: 120px;
    }
    .lbl-title {
        text-align: center;
        display: block;
        margin: 0 0 0 0;
        position: relative;
        overflow: hidden;
    }
}
.frm-select-toggle-two {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
    color: var(--clr-att);
    &:hover {
        color: #433d3c;
        .lbl-title {
            &:first-child {
                &:before, &:after {
                    border-color: #433d3c;
                }
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input {
        &:checked {
            &~label {
                .lbl-title {
                    &:first-child {
                        &:before {
                            background-color: #FFDE00;
                        }
                        &:after {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }
    .lbl-title {
        flex-shrink: 0;
        padding: 0 32px 0 0;
        white-space: nowrap;
        position: relative;
        &:first-child {
            &:before, &:after {
                content: "";
                display: block;
                width: 46px;
                height: 20px;
                border-radius: 10px;
                background: #ECDED7;
                border: 1px solid var(--clr-att);
                position: absolute;
                top: 50%;
                left: 100%;
                margin-left: -23px;
                margin-top: -10px;
                transition: all ease 0.2s;
            }
            &:after {
                width: 20px;
                height: 20px;
                background-color: #FEF8F7;
                border-radius: 50%;
            }
        }
        &~.lbl-title {
            padding: 0 0 0 32px;
        }
    }
}
.frm-select-check {
    font-size: 13.8px;
    line-height: 20px;
    color: var(--clr-att);
    &.color-second {
        label {
            &:before {
                background: #D6C3B9;
            }
        }
    }
    &.color-third {
        label {
            &:before {
                background: linear-gradient(to top, fade(#FBE1D8, 80) 0%, fade(#FFE38E, 80) 50%, fade(#FFDE00, 80) 100%);
            }
        }
    }
    &.select-small {
        font-size: 12px;
        line-height: 14px;
        label {
            min-height: 20px;
            padding: 3px 0 0 20px;
            &:before, &:after {
                width: 16px;
                height: 16px;
                top: 10px;
                left: 0;
                margin: -8px 0 0 0;
            }
        }
    }
    &:hover, &:active {
        color: #433D3C;
        .elm-photo {
            opacity: 0.5;
        }
        label {
            &:before {
                border-color: #433D3C;
                background-color: #FFFAF9;
            }
            &:after {
                filter: brightness(0) grayscale(1);
            }
        }
    }
    input {
        &:checked {
            &~label {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    label {
        min-height: 30px;
        padding: 5px 0 0 39px;
        transition: all ease 0.2s;
        &:before {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid var(--clr-att);
            transition: all  ease 0.2s;
        }
        &:after {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../img/icons/check.svg) 0 0 no-repeat;
            background-size: 100% auto;
            opacity: 0;
            transition: all  ease 0.2s;
        }
    }
    .elm-photo {
        aspect-ratio: 1;
        width: 40px;
        transition: all ease 0.2s;
        flex-shrink: 0;
    }
    &.select-photo {
        label {
            padding-top: 0;
            display: flex;
            align-items: center;
            &:before, &:after {
                top: 50%;
                margin-top: -15px;
            }
        }
        .lbl-inner-wrap {
            margin: 0;
            display: block;
            flex: 1;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 15px;
        }
    }
}
.frm-select-toggle {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.14px;
    color: var(--clr-att);
    overflow: visible;
    &:hover, &:active {
        label {
            &:before {
                box-shadow: 0px 10px 25px 0px rgba(166, 78, 50, 0.08);
            }
        }
    }
    &.type-clear {
        label {
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
            margin-left: -10px;
            &:before, &:after {
                display: none;
            }
            .lbl-inner-wrap {
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 20px;
            }
        }
    }
    input {
        &:checked {
            &~label {
                &:before, &:after {
                    opacity: 1;
                }
                .lbl-inner-wrap {
                    &:after {
                        margin-left: 3px;
                    }
                    &:before {
                        background-color: #FFDD01;
                    }
                }
                .lbl-title {
                    &:before {
                    }
                }
            }
        }
    }
    label {
        display: block;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 23px;
            border: 1px solid var(--clr-att);
            opacity: 0;
            transition: all ease 0.2s;
        }
        &:after, .lbl-button {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            background: url(../img/icons/arrow-down-lbl.svg) center no-repeat;
            background-size: 13px auto;
            top: 50%;
            right: 10px;
            margin-top: -12px;
            transition: all ease 0.2s;
            opacity: 1;
            z-index: 2;
        }
    }
    .lbl-inner-wrap {
        display: flex;
        align-items: center;
        min-height: 43px;
        padding: 10px 30px 10px 69px;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 37px;
            transition: all ease 0.2s;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            border: 1px solid var(--clr-att);
            background-color: #FEF8F7;
            margin-top: -10px;
            margin-left: -23px;
        }
        &:before {
            background: #ECDED7;
            width: 46px;
            margin-left: -23px;
            box-shadow: 0px 8px 10px 0px rgba(204, 136, 88, 0.05);
        }
    }
    .lbl-title {
        display: block;
        position: static;
        &:before {
            
        }
    }
}
.frm-select-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.638px;
    letter-spacing: -0.14px;
    color: var(--clr-att);
    overflow: visible;
    &:hover, &:active {
        label {
            &:before {
                opacity: 1;
                background-color: #FFFAF9;
            }
        }
    }
    input {
        &:checked {
            &~label {
                &:before {
                    opacity: 1;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 45px;
        padding: 10px 28px 10px 28px;
        position: relative;
        z-index: 2;
        &:after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            background: url(../img/icons/chk.svg) center no-repeat;
            background-size: 8px auto;
            top: 50%;
            left: 4px;
            margin-top: -15px;
            opacity: 0;
            transition: all ease 0.2s;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid var(--clr-att);
            border-radius: 23px;
            opacity: 0;
            transition: all ease 0.2s;
            box-shadow: 0px 5.5px 13.8px rgba(166, 78, 50, 0.08);
            z-index: -1;
        }
    }
    .lbl-title {
        padding-right: 10px;
        flex: 1;
    }
    .lbl-price {
        text-align: right;
        flex-shrink: 0;
    }
}
.frm-select-color {
    overflow: visible;
    input {
        &:checked {
            &~label {
                z-index: 2;
                border-color: var(--clr-att);
                color: var(--clr-att);
                box-shadow: -4px 9px 11px rgba(156, 48, 14, 0.08);
            }
        }
    }
    label {
        position: relative;
        overflow: hidden;
        border-radius: 7px;
        border: 1px solid #ECDED7;
        transition: all ease 0.2s;
        display: block;
        padding: 7px 5px 10px 5px;
        font-size: 14px;
        text-align: center;
        font-style: italic;
        color: #B1A19D;
        background: #fff;
    }
    .elm-ico {
        width: 54px;
        height: 54px;
        margin: 0 auto 5px auto;
    }
}
@media (max-width: 1023px) {

    body {
        .air-datepicker-global-container {
            font-size: 10px;
            .air-datepicker {
                width: 240px;
            }
            .air-datepicker-nav--action svg {
                transform: none;
            }
        }
    }
}
@media (min-width: 768px) {

    .frm-select-color-pic {
        label {
            height: 67px;
            padding: 8px;
            &:before {
                //top: -10px;
                //bottom: -10px;
                //left: -20px;
                //right: -20px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .elm-photo {
                height: 51px;
            }
        }
    }
}
@media (min-width: 1024px) {
    .frm-field-input {
        &.field-size {
            padding-left: 29px;
        }
        &.field-45 {
            &:before {
                bottom: -5px;
            }
        }
        &.field-90 {
            &:before {
                bottom: -5px;
            }
        }
        &:before {
            width: 29px;
            height: 28px;
            bottom: -4px;
        }
        &:after {
            height: 10px;
            bottom: -4px;
            left: 27px;
            width: 2px;
        }
        .field-input-content {
            &:before, &:after {
                width: 31px;
                height: 12px;
                bottom: -5px;
            }
        }
    }
    .frm-info-panel {
        font-size: (19/8.5rem);
        letter-spacing: -0.196px;
        line-height: (25/19);
        border-radius: 15px;
    }
    .frm-select-panel {
        label {
            border-width: 2px;
            font-size: 18px;
            line-height: (25/18);
            letter-spacing: -0.187px;
            min-height: 154px;
            padding: 15px 15px 15px 74px;
            &:before {
                border-width: 2px;
            }
            &:before, &:after {
                width: 5rem;
                height: 5rem;
                top: 15px;
                left: 15px;
            }
            &:before {
                border-width: 2px;
            }
        }
        .lbl-title-wrap {
            min-height: 5rem;
            margin-bottom: 20px;
        }
    }
    .frm-field-date {
        position: relative;
        .form-input.form-input-button {
            padding: 0 40px 0 65px;
            background-position: 22px center;
            background-size: 20px auto;
        }
        &:before {
            right: 16px;
            background-size: 16px auto;
        }
    }
    .frm-select-wrap {
        .btn-popup-toggle {
            &.active~.select-overlay {
                display: block;
            }
        }
        .menu-select-wrap {
            padding-left: 25px;
            padding-bottom: 25px;
        }
        .btn-menu-sort {
            font-size: 18px;
            line-height: 25px;
        }
        .btn {
            height: 60px;
            border-radius: 30px;
            font-size: 19px;
            letter-spacing: -0.19px;
            &.button-toggle {
                &:before {
                    width: 24px;
                    height: 24px;
                    background-size: 100% auto;
                    margin-right: 5px;
                }
            }
        }
        .select-content-block {
            border-radius: 30px;
            padding-top: 90px;
            border-width: 2px;
        }
        .menu {
            padding: 0 30px 30px 30px;
            max-height: 700px;
        }
        .menu-select {
            li {
                max-width: inherit;
            }
        }
        .menu-chk {
            li {
                margin-bottom: 24px;
            }
        }
    }
    .frm-error {
    }
    .frm-select-photo {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.187px;
        label {
            &:before {
                border-width: 2px;
            }
            &:after {
                width: 44px;
                height: 44px;
                top: 20px;
                right: 20px;
            }
        }
        .elm-ico {
            width: 44px;
            height: 44px;
            top: 20px;
            left: 10px;
        }
    }
    .frm-select-toggle-two {
        font-size: 19px;
        line-height: 34px;
        input {
            &:checked {
                &~label {
                    .lbl-title {
                        &:first-child {
                            &:after {
                                margin-left: 7px;
                            }
                        }
                    }
                }
            }
        }
        .lbl-title {
            padding: 0 53px 0 0;
            &~.lbl-title {
                padding: 0 0 0 53px;
            }
            &:first-child {
                &:before {
                    width: 82px;
                    height: 34px;
                    border-radius: 17px;
                    border-width: 2px;
                    margin-left: -41px;
                    margin-top: -17px;
                }
                &:after {
                    width: 34px;
                    height: 34px;
                    border-width: 2px;
                    margin-left: -41px;
                    margin-top: -17px;
                }
            }
        }
    }
    .frm-field-upload {
        .btn {
            height: 15rem;
            background-color: #fff;
            font-size: 2.4rem;
            letter-spacing: -0.24px;
            border-width: 2px;
            font-style: italic;
        }
    }
    .frm-select-check {
        font-size: 2.3rem;
        line-height: (30/23);
        letter-spacing: -0.23px;
        &.select-photo {
            label {
                &:before, &:after {
                    margin-top: -2.5rem;
                }
            }
        }
        label {
            min-height: 5rem;
            padding-top: 1rem;
            padding-left: 6.5rem;
            &:before, &:after {
                width: 5rem;
                height: 5rem;
            }
            &:before {
                border-width: 2px;
            }
        }
        .elm-photo {
            width: 11rem;
        }
    }
    .frm-select-toggle {
        font-size: 2.3rem;
        letter-spacing: -0.23px;
        &.type-clear {
            label {
                min-height: 4rem;
                padding-top: 1rem;
            }
        }
        input:checked ~ label .lbl-inner-wrap:after {
            margin-left: 0.5rem;
        }
        label {
            &:after, .lbl-button {
                width: 24px;
                height: 24px;
                margin-top: -12px;
                right: 2.6rem;
                background-size: 100% auto;
            }
            .lbl-inner-wrap {
                padding-left: 12.6rem;
                padding-right: 6rem;
                min-height: 7rem;
                &:before {
                    width: 9rem;
                    height: 4rem;
                    border-radius: 2rem;
                    margin-top: -2rem;
                    left: 6.5rem;
                    margin-left: -4.5rem;
                    border-width: 2px;
                }
                &:after {
                    width: 4rem;
                    height: 4rem;
                    margin-top: -2rem;
                    left: 6.5rem;
                    margin-left: -4.5rem;
                    border-radius: 2rem;
                    border-width: 2px;
                }
            }
            &:before {
                border-radius: 3.5rem;
                border-width: 2px;
            }
        }
    }
    .frm-field-counter {
        height: 40px;
        padding: 0 30px;
        &:before {
            left: 12px;
            right: 12px;
            height: 20px;
            border-width: 2px;
        }
        .form-input {
            height: 40px;
            font-size: 2.3rem;
        }
        .field-counter-button {
            width: 24px;
            height: 24px;
            margin-top: -12px;
            border-width: 2px;
            &:before {
                width: 100%;
                height: 100%;
                background-size: 100% auto;
            }
        }
    }
    .frm-select-price {
        font-size: 2.3rem;
        line-height: (30/23);
        letter-spacing: -0.23px;
        label {
            min-height: 7rem;
            padding-left: 48px;
            &:after {
                width: 24px;
                height: 24px;
                top: 50%;
                left: 16px;
                margin-top: -12px;
                background-size: 16px auto;
            }
            &:before {
                border-radius: 3.5rem;
                border-width: 2px;
            }
        }
    }
    .frm-select-color {
        label {
            padding: 2.4rem 1.5rem 1.5rem 1.5rem;
            border-radius: 1.5rem;
            font-size: 2.3rem;
        }
        .elm-ico {
            width: 100%;
            height: 8rem;
            margin-bottom: 1.8rem;
        }
    }
}