<!--popup-outer-box-->
<div class="popup-outer-box popup-gallery" id="popup-gallery">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-action-wrap">
			<a href="" class="btn-popup-back">
				<span class="button-title">назад к товару</span>
			</a>
		</div>
		<div class="popup-content-wrap">
			<div class="photos-slider-box">
				<div class="slider-wrap">
					<div class="slider">
						<div class="sl-wrap">
							<div class="elm-photo photo-contain">
								<img src="./img/card-main01.jpg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain">
								<img src="./img/card-main02.jpg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain">
								<img src="./img/card-main01.jpg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain">
								<img src="./img/card-main02.jpg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain">
								<img src="./img/card-main01.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="slider-preview-wrap">
					<div class="slider">
						<div class="sl-wrap active">
							<div class="elm-photo photo-contain" data-slide="0">
								<img src="./img/card01.jpg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain" data-slide="1">
								<img src="./img/card02.jpg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain" data-slide="2">
								<img src="./img/card01.jpg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain" data-slide="3">
								<img src="./img/card04.svg" alt="">
							</div>
						</div>
						<div class="sl-wrap">
							<div class="elm-photo photo-contain" data-slide="4">
								<img src="./img/card05.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<div class="footer-size-wrap">
				<div class="elm-size">
					<div class="size-title">55 мм</div>
					<div class="size-title">350 мм</div>
					<div class="size-title">350 мм</div>
				</div>
			</div>
			<div class="footer-info-wrap">
				<div class="elm-sticker">
					<div class="elm-ico">
						<img src="./img/icons/attention.svg" alt="">
					</div>
					на фото — не точные размеры
				</div>
				<div class="footer-inner-wrap">
					<div class="footer-info">Длина: 350 мм</div>
					<div class="footer-info">Ширина: 350 мм</div>
					<div class="footer-info">Высота: 55 мм</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-select" id="popup-ext-services">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-nav-wrap">
			<a href="" class="btn-header-nav js-popup-close">
				<span class="button-title">назад к товару</span>
			</a>
		</div>
		<div class="popup-title-wrap">
			<div class="h1-title popup-title">Выберите тип печати</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-select-box">
				<div class="select-photos-wrap">
					<div class="slider-wrap">
						<div class="slider">
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/print.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/print.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/print.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/print.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/print.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
						</div>
					</div>
					<div class="slider-info-wrap">
						<p>Нанесение принта на картон с&nbsp;помощью трафарета. Шелкография даёт особенно яркий цвет, но печатать можно только плашечными цветами.</p>
						<div class="slider-info-period">Срок изготовления — 7 дней</div>
						<div class="elm-ico">
							<img src="./img/icons/print.svg" alt="">
						</div>
					</div>
				</div>
				<div class="select-info-wrap">
					<div class="info-title"><div class="h1-title">Выберите тип печати</div></div>
					<div class="info-content">
						<div class="selects-wrap">
							<div class="frm-select-check">
								<input type="checkbox" id="sel01" checked>
								<label for="sel01">Шелкография</label>
							</div>
							<div class="frm-select-check">
								<input type="checkbox" id="sel02" disabled>
								<label for="sel02">Флексопечать <span class="elm-counter">от 10 штук</span></label>
							</div>
							<div class="frm-select-check">
								<input type="checkbox" id="sel03">
								<label for="sel03">Полноцветная цифровая печать</label>
							</div>
							<div class="frm-select-check">
								<input type="checkbox" id="sel04" disabled>
								<label for="sel04">Сплошная заливка цветом <span class="elm-counter">от 10 штук</span></label>
							</div>
						</div>
						<div class="select-counter-wrap">
							<div class="counter-wrap">
								<div class="frm-field-counter">
									<input type="number" class="form-input" value="1" data-unit="цвет">
								</div>
							</div>
							<div class="check-wrap">
								<div class="frm-select-toggle type-clear">
									<input type="checkbox" id="toggle">
									<label for="toggle">
														<span class="lbl-inner-wrap">
															<span class="lbl-title">печать с двух сторон</span>
														</span>
									</label>
								</div>
							</div>
						</div>
						<div class="select-load-wrap">
							<div class="frm-field-upload js-field-file">
								<input type="file" class="js-field-input">
								<button type="submit" class="btn js-file-button" data-title="Загрузить файл с макетом">
									<span class="button-title">Загрузить файл с макетом</span>
								</button>
							</div>
						</div>
						<div class="select-rows-wrap">
							<div class="feature-row">
								<div class="row-title">Стоимость печати:</div>
								<div class="row-value">2 232.1 ₽</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<a href="" class="btn">Сохранить настройки печати</a>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-select" id="popup-ext-services-window">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-nav-wrap">
			<a href="" class="btn-header-nav js-popup-close">
				<span class="button-title">назад к товару</span>
			</a>
		</div>
		<div class="popup-title-wrap">
			<div class="h1-title popup-title">Вырезать окошки любой формы</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-select-box">
				<div class="select-photos-wrap">
					<div class="slider-wrap type-second">
						<div class="slider">
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/korob.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/korob.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/korob.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/korob.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/korob.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
						</div>
					</div>
					<div class="slider-info-wrap type-second">
						<p>Вырезаем окошки на лазерном станке, поэтому можно не ограничиаться квадратами и кругами, а придать окну любую форму — например, вашего логотипа.</p>
						<div class="slider-info-period">Срок изготовления — 7 дней</div>
						<div class="elm-ico">
							<img src="./img/window.png" alt="">
						</div>
					</div>
				</div>
				<div class="select-info-wrap">
					<div class="info-title"><div class="h1-title">Вырезать окошки <br> любой формы</div></div>
					<div class="info-content">
						<div class="select-counter-wrap type-second">
							<div class="counter-wrap">
								<div class="frm-field-input">
									<div class="field-input-content">
										<input type="text" class="form-input" placeholder="Ширина">
									</div>
								</div>
							</div>
							<div class="check-wrap">
								<div class="frm-select-toggle type-clear">
									<input type="checkbox" id="toggle2">
									<label for="toggle2">
														<span class="lbl-inner-wrap">
															<span class="lbl-title">вклеить плёнку</span>
														</span>
									</label>
								</div>
							</div>
						</div>
						<div class="select-load-wrap type-second">
							<div class="frm-field-upload js-field-file">
								<input type="file" class="js-field-input">
								<button type="submit" class="btn js-file-button" data-title="Загрузить файл с макетом">
									<span class="button-title">Загрузить файл с макетом</span>
								</button>
							</div>
						</div>
						<div class="select-rows-wrap">
							<div class="feature-row">
								<div class="row-title">Стоимость печати:</div>
								<div class="row-value">2 232.1 ₽</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<a href="" class="btn">Сохранить настройки печати</a>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-select" id="popup-ext-lg">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-nav-wrap">
			<a href="" class="btn-header-nav js-popup-close">
				<span class="button-title">назад к товару</span>
			</a>
		</div>
		<div class="popup-title-wrap">
			<div class="h1-title popup-title">Изготовим ложемент под форму вашего изделия</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-select-box">
				<div class="select-photos-wrap">
					<div class="slider-wrap type-second">
						<div class="slider">
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/lg.png" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/lg.png" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/lg.png" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/lg.png" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/lg.png" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
						</div>
					</div>
				</div>
				<div class="select-info-wrap">
					<div class="info-title"><div class="h1-title">Изготовим ложемент под форму вашего изделия</div></div>
					<div class="info-content">
						<div class="select-items-wrap">
							<div class="item-wrap">
								<div class="elm-ico">
									<img src="./img/icons/lg01.png" alt="">
								</div>
								<div class="wrap-title">Индивидуальная конструкция</div>
								<p>Наши инженеры учтут все нюансы изделия, что бы зафиксировать его максимально надëжно.</p>
							</div>
							<div class="item-wrap">
								<div class="elm-ico">
									<img src="./img/icons/lg02.png" alt="">
								</div>
								<div class="wrap-title">Бесплатный образец</div>
								<p>Разработка ложемента сложной конструкции и образца оплачивается отдельно. Но при заказе от 3500₽ (вписать нужную сумму) мы изготовим образец бесплатно!</p>
							</div>
						</div>
						<div class="select-text-wrap">
							<textarea placeholder="Подо что разработать ложемент?" class="form-input"></textarea>
						</div>
						<div class="select-load-wrap">
							<div class="frm-field-upload js-field-file">
								<input type="file" class="js-field-input">
								<button type="submit" class="btn js-file-button" data-title="Загрузить файл с макетом">
									<span class="button-title">Загрузить файл с макетом</span>
								</button>
							</div>
						</div>
						<div class="select-rows-wrap">
							<div class="feature-row">
								<div class="row-title">Стоимость разработки:</div>
								<div class="row-value">2 232.1 ₽</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<a href="" class="btn">Сохранить настройки печати</a>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-select" id="popup-ext-color">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-nav-wrap">
			<a href="" class="btn-header-nav js-popup-close">
				<span class="button-title">назад к товару</span>
			</a>
		</div>
		<div class="popup-title-wrap">
			<div class="h1-title popup-title">Окрашиваем коробку в выбранный вами цвет</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-select-box">
				<div class="select-photos-wrap">
					<div class="slider-wrap type-second">
						<div class="slider">
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/color.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/color.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/color.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/color.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
							<!--sl-wrap-->
							<div class="sl-wrap">
								<div class="elm-photo photo-contain">
									<img src="./img/color.jpg" alt="">
								</div>
							</div>
							<!--/sl-wrap-->
						</div>
					</div>
					<div class="slider-info-wrap type-second">
						<p>Цвет на реальной продукции отличается от цвета в каталоге на экране монитора.
							Рекомендуем вам предварительно проконсультироваться с менеджером.</p>
						<div class="slider-info-period">Срок изготовления — 7 дней</div>
						<div class="elm-ico">
							<img src="./img/window.png" alt="">
						</div>
					</div>
				</div>
				<div class="select-info-wrap">
					<div class="info-title"><div class="h1-title">Окрашиваем коробку в выбранный вами цвет</div></div>
					<div class="info-content">
						<div class="select-items-wrap">
							<div class="item-wrap">
								<div class="wrap-title">Ярко и безопасно</div>
								<p>Любую из выбранных коробок мы можем окрасить в выбранный вами цвет. <br>Стоимость коробки с учетом окраски озвучивает менеджер, после подготовки расчета.</p>
							</div>
							<div class="item-wrap">
								<div class="elm-ico ico-small">
									<img src="./img/icons/color01.png" alt="">
								</div>
								<div class="wrap-title">Цвет:</div>
								<p><a href=""><b>Список оттенков в наличии.</b></a></p>
								<p>Другие цвета из библиотеки <a href="">Pantone Solid Uncoated</a> — на заказ.</p>
							</div>
							<div class="item-wrap">
								<div class="elm-ico ico-small">
									<img src="./img/icons/color02.png" alt="">
								</div>
								<div class="wrap-title">Тираж:</div>
								<p>Минимальный — от 1 штуки</p>
								<p>Оптимальный — от 50 штук.</p>
							</div>
							<div class="item-wrap">
								<div class="elm-ico ico-small">
									<img src="./img/icons/color03.png" alt="">
								</div>
								<div class="wrap-title">Срок:</div>
								<p>от 2 рабочих дней</p>
							</div>
						</div>
						<div class="select-input-wrap">
							<div class="frm-field-input inp-clear">
								<select class="form-input" required>
									<option selected disabled hidden value="">Выбрать из списка доступных пантонов</option><!--placeholder-->
									<option>Пункт списка</option>
									<option>Пункт списка</option>
									<option>Пункт списка</option>
									<option>Пункт списка</option>
								</select>
							</div>
							<div class="frm-field-input inp-clear">
								<input type="text" class="form-input" placeholder="Ввести номер вашего пантона">
							</div>
						</div>
						<div class="select-load-wrap">
							<div class="frm-field-upload js-field-file">
								<input type="file" class="js-field-input">
								<button type="submit" class="btn js-file-button" data-title="Загрузить файл с макетом">
									<span class="button-title">Загрузить файл с макетом</span>
								</button>
							</div>
						</div>
						<div class="select-rows-wrap">
							<div class="feature-row">
								<div class="row-title">Стоимость окрашивания:</div>
								<div class="row-value">2 232.1 ₽</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<a href="" class="btn">Сохранить настройки печати</a>
		</div>
	</div>
</div><!--/popup-outer-box-->
